/2.Firmware/KEIL/Listings
/2.Firmware/KEIL/Objects
2.Firmware/KEIL/*.uvgui.*
.idea/
Waves/

1.Hardware/Daplink_CH552P/*.000
1.Hardware/Daplink_CH552P/*.bak
1.Hardware/Daplink_CH552P/*.bck
1.Hardware/Daplink_CH552P/*.kicad_pcb-bak
1.Hardware/Daplink_CH552P/*.kicad_sch-bak
1.Hardware/Daplink_CH552P/*-backups
1.Hardware/Daplink_CH552P/*.kicad_prl
1.Hardware/Daplink_CH552P/*.sch-bak
1.Hardware/Daplink_CH552P/~
1.Hardware/Daplink_CH552P/_autosave-
1.Hardware/Daplink_CH552P/*.tmp
1.Hardware/Daplink_CH552P/*-save.pro
1.Hardware/Daplink_CH552P/*-save.kicad_pcb
1.Hardware/Daplink_CH552P/fp-info-cache
1.Hardware/Daplink_CH552P/*.net
1.Hardware/Daplink_CH552P/*.dsn
1.Hardware/Daplink_CH552P/*.ses
1.Hardware/Daplink_CH552P/*.xml
1.Hardware/Daplink_CH552P/*.csv