/2.Firmware/KEIL/Listings
/2.Firmware/KEIL/Objects
2.Firmware/KEIL/*.uvgui.*
.idea/
Waves/

1.Hardware/*/*.000
1.Hardware/*/*.bak
1.Hardware/*/*.bck
1.Hardware/*/*.kicad_pcb-bak
1.Hardware/*/*.kicad_sch-bak
1.Hardware/*/*-backups
1.Hardware/*/*.kicad_prl
1.Hardware/*/*.sch-bak
1.Hardware/*/~
1.Hardware/*/_autosave-
1.Hardware/*/*.tmp
1.Hardware/*/*-save.pro
1.Hardware/*/*-save.kicad_pcb
1.Hardware/*/fp-info-cache
1.Hardware/*/*.net
1.Hardware/*/*.dsn
1.Hardware/*/*.ses
1.Hardware/*/*.xml
1.Hardware/*/*.csv
1.Hardware/*/*.pdf